h1 {
    border-bottom: 2px solid black;
    
    display: flex;
}

.title {
    justify-content: center;
    margin-top: 2rem;
}

.about-container {
    display: float;
    text-align: center;
    min-width: 100vh;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;

}


p {
    display: block;
    font-family: monospace;
    font-size: 1.5rem;
    word-wrap: break-word;
    
}