h1 {
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
}

.title {
    text-align: center;
}

.container {
    display: block;
    text-align: center;
    min-width: 100vh;
    margin-left: auto;
    justify-content: center;
}

p {
    display: block;
    font-family: monospace;
    font-size: 2rem;
}