h1 {
    border-bottom: 2px solid black;
    
    display: flex;
}

.title {
    justify-content: center;
    margin-top: 2rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}


.about-container > p {
    font-family: monospace;
    font-size: 1.5rem;
    word-wrap: break-word; 
    margin-left: 10rem;
    margin-right: 10rem;
}

.link {
    text-decoration: none;
}

.link:hover {
   background-color: rosybrown;
} 
